config squid 'squid'
	option config_file '/etc/squid/squid.conf'
	option http_port '3128'
	option coredump_dir '/tmp/squid'
	option visible_hostname 'hopbox'
	option mime_table '/etc/squid/mime.conf'
	#option http_port_options 'tcpkeepalive=60,30,3 ssl-bump generate-host-certificates=on dynamic_cert_mem_cache_size=10MB cert=/etc/squid/ssl_cert/MySSLCA.pem tls-dh=prime256v1:/etc/squid/ssl_cert/bump_dhparam.pem'
	#tls-cert=/etc/squid/ssl_cert/MySSLCA.pem tls-key=/etc/squid/ssl_cert/MySSLCA.pem'
	#cipher=HIGH:MEDIUM:!LOW:!RC4:!SEED:!IDEA:!3DES:!MD5:!EXP:!PSK:!DSS options=NO_TLSv1,NO_SSLv3 tls-dh=prime256v1:/etc/squid/ssl_cert/bump_dhparam.pem'
	option ssldb '/tmp/squid/ssldb'
	option ssldb_options '-M 16MB'
